# Entornos virtuales
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Archivos de configuración
*.pyc
*.pyo
*.pyd
__pycache__/

# Archivos de configuración de sistema
*.sqlite3
*.log

# Archivos de entorno
.env

# Archivos generados
db.sqlite3
media/
static_cdn/

# Dependencias y directorios de instalación
node_modules/
__pycache__/
*.pyc
*.pyo
*.pyd

# Sublime Text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache

# PyCharm
.idea/

# Jupyter Notebooks
.ipynb_checkpoints/

# Configuración local
local_settings.py

# Archivos de migraciones
**/migrations/
