.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

.card{
    flex: 1 1 18rem;
    min-width: 0;
    max-width: 320px;
}

.icons-container{
    margin-top: auto;
}

.card-body{
    display: flex;
    flex-direction: column;
}

.card-text{
    margin-bottom: 10px;
}

.user-anchor-name{
    text-decoration: none;
    color:black;
    font-weight: 600;
}

.star-button{
    background-color: transparent;
    border: 1px solid transparent;
    padding: 7px;
    border-radius: 50px;
    box-sizing: border-box;
    transition: background-color 0.3s ease;
    margin-right: 15px;
    color: black;
    text-decoration: none;
}

.star-button:hover{
    background-color: rgba(0, 0, 0, 0.5);
}

.star{
    margin-left: 5px;
}

.card-body{
    padding-bottom: 10px;
}

.user-time-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.user-time-container h6{
    margin-bottom: 0 !IMPORTANT;
}

.user-time-container h5{
    margin-right: 8px !IMPORTANT;
    font-size: 22px;
}