.user-link{
    text-decoration: none;
}

.results-container{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.username{
    color: black;
}

.stats-number{
    color: black;
    font-weight: 600;
}