{% extends "global/base-nav.html" %}

{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/create-button.css' %}">
    <link rel="stylesheet" href="{% static 'css/note-colors.css' %}">
    <link rel="stylesheet" href="{% static 'css/notes-flex.css' %}">
    {% if profile %}
        <link rel="stylesheet" href="{% static 'css/profile-header.css' %}">
    {% endif %}
{% endblock head %}

{% block main %}

    {% if profile %}
        {% include "global/parts/profile-header.html" %}
    {% endif %}
    {% include "global/parts/note-dashboard.html" %}
    {% include "global/parts/create-button.html" %}

{% endblock main %}