{% csrf_token %}

<div class="cards-container">
    {% if notes %}
        {% for item in notes %}
        <div class="card" style="width: 18rem; background-color: var(--color{{item.note.color}})" id="note-{{item.note.id}}">
            <div class="card-body">
                <h5 class="card-title"><a class="user-anchor-name" href="{% url 'profile' user=item.note.user.username %}">{{item.note.user.username}}</a></h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">{{item.note.date}}</h6>
                <p class="card-text">{{item.note.content}}</p>
                {% if item.note.private %}
                    <p>PRIVATE</p>
                {% else %}
                    <span id="note-{{item.note.id}}-stars">{{item.note.stars}}</span>
                    {% if user.is_authenticated %}
                        {% if not item.star %}
                            <button id="note-{{item.note.id}}-stars-button" onclick="star_note({{item.note.id}})">Star</button>
                        {% else %}
                            <button id="note-{{item.note.id}}-stars-button" onclick="unstar_note({{item.note.id}})">UnStar</button>
                        {% endif %}
                    {% else %}
                        <a href="{% url 'login' %}">Star</a>
                    {% endif %}
                {% endif %}
                {% if item.note.user ==  user %}
                    <button onclick="delete_note({{item.note.id}})">Delete</button>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    {% else %}
        <h1>No notes Found!</h1>
    {% endif %}
</div>

{% if user.is_authenticated %}
    <script>
        function delete_note(id){
            var url = "{% url 'delete-note' note_id=1 %}".replace('1', id)
            var csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
            fetch(url,{
                method : 'DELETE',
                headers:{
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken
                }})
                .then(response => {
                    if (!response.ok){
                        throw new Error("Error deleting note!")
                    }
                    id_element = "note-" + id
                    document.getElementById(id_element).remove()
                })
                .catch(error => {
                    console.error("Error:", error)
                })
        }

        function star_note(id){
            var url = "{% url 'stars' note_id=1 %}".replace('1', id)
            var csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
            fetch(url,{
                method : 'POST',
                headers:{
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken
                }})
                .then(response => {
                    if (!response.ok){
                        throw new Error("Error staring note!")
                    }
                    id_element = "note-" + id + "-stars"
                    var spanElement = document.getElementById(id_element)
                    stars = parseInt(spanElement.innerText,10)
                    newStars = stars + 1
                    spanElement.innerText = newStars

                    id_button = id_element + "-button"
                    var buttonElement = document.getElementById(id_button)
                    buttonElement.setAttribute( "onClick", "unstar_note("+ id +");");
                    buttonElement.innerText = 'UnStar'
                })
                .catch(error => {
                    console.error("Error:", error)
                })
        }

        function unstar_note(id){
            var url = "{% url 'stars' note_id=1 %}".replace('1', id)
            var csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
            fetch(url,{
                method : 'DELETE',
                headers:{
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken
                }})
                .then(response => {
                    if (!response.ok){
                        throw new Error("Error unstaring note!")
                    }
                    id_element = "note-" + id + "-stars"
                    var spanElement = document.getElementById(id_element)
                    stars = parseInt(spanElement.innerText,10)
                    newStars = stars - 1
                    spanElement.innerText = newStars

                    id_button = id_element + "-button"
                    var buttonElement = document.getElementById(id_button)
                    buttonElement.setAttribute( "onClick", "star_note("+ id +");");
                    buttonElement.innerText = 'Star'
                })
                .catch(error => {
                    console.error("Error:", error)
                })
        }
    </script>
{% endif %}